*{
    box-sizing: border-box;
    /* Every element is set to border-box value, including the whole page. This ensures the width of the html page stays 100% of the screen width without any overflow */

    margin: 0px;
    padding: 0px;
    /* Setting default margin and padding to be overruled later in the stylesheet */
}

a {
    text-decoration: none;
    color: #f2f2f2;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
}

body{
    background-color: #141414;
    color: #f2f2f2;
}

p{
    font-family: proxima-nova, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

ul{
    font-family: proxima-nova, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

h2{
    font-family: articulat-cf, sans-serif;
    font-size: 45px;
    font-weight: 300;
}

h3{
    font-family: articulat-cf, sans-serif;
    font-size: 30px;
    font-weight: 300;
}


header{
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}
